
.ContainerTable {
    margin-top: 2%;

    border: 3px solid black;

    width: 90%;
}
/* 
table {
    border-collapse: collapse;
} */

.FirstTitle {
    border-left: 2px solid black !important;
    width: 10%!important;
}

.code { width: 10%!important; }
.description { width: 20%!important; }
.cases { width: 10%!important; }
.un { width: 10%!important; }
.net { width: 10%!important; }
.gross { width: 10%!important; }
.price { width: 10%!important; }
.amount { width: 10%!important; }

.ContainerTable section {
    width: 100%;
}

.ContainerTable section header {
    display: flex;
    
    width: 100%;
}

.ContainerTable section header h5 {
    border: 1px solid black;
    border-right: 2px solid black;
    font-weight: 600;
    /* white-space: nowrap; */

    margin: 0;
    padding: 3px;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ContainerTable footer {
    width: 100%;

    text-align: right;
    border-top: 3px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;

    padding-right: 10px;
}

.ButtonPlus {
    border: 2px solid black !important;
    border-bottom: 0px !important;
    padding: 8px 0px;

    width: 100%;
    display: flex;
    justify-content: center;

    border: none;
    background: none;
}

.ButtonPlus img {
    width: 30px;
    transition: all 0.1s linear;
}

.ButtonPlus img:hover {
    transform: scale(1.15);
}

