input {
    width: 100%;
    border-style: none;
    border-left: 1px solid black;
    border-right: 2px solid black;

    text-align: right;

    padding: 0;
}

.RowStyles { display: flex; }
.FirstInput { 
    width:10%; 
    border-right: 2px solid black; 
    border-left: 2px solid black;

    display: flex;
    padding: 4px 0;
}
.code { width: 10%; }
.description { width: 20%; text-align: left !important;}
.cases { width: 10%; }
.un { width: 10%; }
.net { width: 10%; }
.gross { width: 10%; }
.price { width: 10%; }
.amount { width: 10%; }

.FirstInput button {
    border: none;
    background: none;
    width: 50%;
    margin: 0!important;

    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.FirstInput button img {
    width: 34%;
    transition: all 0.1s linear;  
}

.FirstInput button img:hover {
    transform: scale(1.15);
}

.Bucket {
    width: 35% !important;
}

@media (max-width: 920px) {
    .FirstInput button img {
        width: 50%;
    }
    .Bucket {
        width: 51% !important;
    }
}

@media (max-width: 750px) {
    .FirstInput button img {
        width: 60%;
    }
    .Bucket {
        width: 61% !important;
    }
}